.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  flex: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .container {
    border-top: 1px solid #ddd;
  }
}
